:root {
    --bg-color: #2c3e50;
    --ui-color: #34495e;
    --accent: #e74c3c;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--bg-color);
    font-family: 'Fredoka One', cursive; /* Dùng font đậm cho toàn bộ */
    overflow: hidden;
    touch-action: none;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.game-container {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    background-color: var(--ui-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.info-box { display: flex; flex-direction: column; align-items: center; font-size: 0.8rem; }
#score { color: #f1c40f; font-size: 1.5rem; }

.preview-ball {
    width: 35px; height: 35px;
    border-radius: 50%;
    background: #fff;
    color: #00264d; /* Chữ xanh đậm cho preview */
    display: flex; justify-content: center; align-items: center;
    border: 2px solid #bdc3c7;
    font-size: 1.2rem;
}

canvas {
    background: #1a252f;
    flex-grow: 1;
    cursor: crosshair;
    display: block;
}

/* Modal */
.modal {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex; justify-content: center; align-items: center;
    z-index: 20; backdrop-filter: blur(4px);
}
.modal.hidden { display: none; }
.modal-content {
    background: white; padding: 30px; border-radius: 15px;
    text-align: center; width: 80%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.modal-content h1 { color: var(--accent); font-size: 3rem; margin: 10px 0; }
button {
    background: var(--accent); color: white; border: none;
    padding: 15px 40px; font-size: 1.2rem; border-radius: 50px;
    cursor: pointer; margin-top: 10px; font-family: 'Fredoka One', cursive;
}
